h1 {
  color: grey;
  padding-left: 20px;
  font-size: 30px;
}

form {
  padding-left: 20px;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
}

input[type="checkbox" i] {
vertical-align: middle;
margin-left: 20px;
}
